{% extends "main.html" %}
{% load surveys %}
{% block title %}Surveys{% endblock %}

{% block content_title %}{% endblock %}
    
{% block bread_crumbs_1 %}
 &rsaquo; <a href="{% url surv_surveygroup_list %}">Surveys</a>
 &rsaquo; <a href="{% url surv_surveygroup_questions question.survey_group.pk %}">{{ question.survey_group }}</a>
 &rsaquo; {{ question }}
{% endblock %}    

{% block content %}
<div id="content-main">

	<div class="module">
	
	<h1>{{ question.question }}</h1>

    {% with question.get_answer_summary as summary %}
        {% if question.has_graph %}
            <img src="{% graph_summary_url summary %}" alt="graph" />
            <hr />
        {% endif %}

        <ul>
        {% for result in summary.1 %}
            <li>{{result.answer}} ({{result.count}})
                <ul>
                   {% for survey in result.surveys %}
                       <li>{{ survey.submitter }}</li>
                   {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
        <p>{{ summary.2 }} answer{{ summary.2|pluralize }} in total</p>

    {% endwith %}

</div>
{% endblock %}
