{% extends "main.html" %}

{% block title %}Project Reports{% endblock %}

{% block content_title %}{% endblock %}
    
{% block bread_crumbs_1 %}
 &rsaquo; <a href="../">Questions</a>
 &rsaquo; {{ report.project.pid }}
{% endblock %}    

{% block content %}
<div id="content-main">

	<div class="module">
	<h1>{{ question.question }}</h1>	
	
		
	<img src="{{ graph_url }}" alt="graph" />
	<hr />
	
	{% regroup answer_set|dictsort:"answer" by get_answer as answer_list %} 
	<ul>
	{% for answer in answer_list %}
	<li>{{ answer.grouper }} ({{ answer.list|length }})
	<ul>
	   {% for survey in answer.list %}
		<li>{{ survey.survey.submitter }}</li>
	   {% endfor %}
	</ul></li>
	{% endfor %}
	</ul>
	<p>{{ total }} answer{{ answer_dict|pluralize }} in total</p>
	</div>	
	
</div>
{% endblock %}