{% extends "main.html" %}

{% block title %}Project Reports{% endblock %}

{% block content_title %}{% endblock %}
    
{% block bread_crumbs_1 %}
 &rsaquo; <a href="../">Questions</a>
 &rsaquo; {{ report.project.pid }}
{% endblock %}    

{% block content %}
<div id="content-main">

	<div class="module">
	
	<h1>{{ question.question }}</h1>
	<dl>
	{% for a in question.answer_set.all %}	
			<dt>{{ a.survey.submitter }}</dt>	
			<dd>{{ a.get_answer }}</dd>	
	
	{% endfor %}
	</dl>
	</div>	
	
</div>
{% endblock %}